*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgb(0,0,0),#191825);
  /* background-color: #191825; */
  font-family: 'Roboto';
}


.main{
  position: relative;
  color: white;
  font-family: "Roboto";
  width: 100%;
  height: auto;
  background: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  /* background: url(https://images.unsplash.com/photo-1465066989788-372fcdde2f2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

 .main .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background:radial-gradient(rgba(0, 0, 0, 0.100),rgba(0, 0, 0, 0.500),rgba(0, 0, 0));
}

.main h1{
  z-index: 1;
  font-size: 4vmax;
  text-transform: uppercase;
  margin-top: 15vmax;
  margin-bottom: 2vmax;
  font-family: serif;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
}

.main h3 {
  z-index: 1;
  font-size: 1.3vmax;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  line-height: 2vmax;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.3);
}


.main .play{
  z-index: 1;
  margin-top: 5vmax;
  margin-bottom: 2vmax;
  width: 50px;
  height: 50px;
}

.movies{
  background-image: linear-gradient(180deg, rgb(0,0,0),#191825);
  width: 100%;
  height: auto;
  padding: 6vmax 10vmax;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1vmax;
  flex-wrap: wrap;
  /* overflow: hidden; */
}


 #moviesStyle{
  border: 1px dotted rgba(255, 255, 255, 0.500);
  padding: 1vmax;
  text-align: center;
  width: 15vw;
  font-family: "Roboto";
  font-size: 0.9vmax;
  font-weight: 300;
  background-color: rgba(0, 0, 0);
  /* background-color: aqua; */
}

.movies h2{
  margin-top: 1.5vmax;
  color: white;
  font-size: 1.5vmax;
  padding: 1vmax;
  border-top: 1px dotted white;
}

.movies h3{
  color: rgba(255, 255, 255, 0.527);
  font-family: sans-serif;
  margin: 0 1vmax;
  font-size: 0.9vmax;
}


.movies h2 a{
  color: white;
  text-decoration: none;
}

